.parent-module {
    .base {
        background-color: #FFE6A7;
        border: 1px solid #432818;
        padding: 15px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        color: #432818;

        .heading {
            font-size: 26px;
            font-weight: 600;
            padding-bottom: 10px;
        }
        h6{
            font-weight: 700;
        }
    }
}